input.parsley-success,
select.parsley-success,
textarea.parsley-success {
    border: 1px solid #468847;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
    border: 1px solid #cc2424;
}

.parsley-errors-list {
    margin: 2px 0 3px;
    padding: 0;
    list-style-type: none;
    font-size: 1em;
    line-height: 1em;
    color: #cc2424;
    opacity: 0;

    transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
    opacity: 1;
}
